PORT=3000

# Prisma environment variables
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<userpassword>
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=<databasename>

# This is a secret key used for authentication. In a production environment, you should use a secure and unique value.
BETTER_AUTH_SECRET=<secretkey>

# Base URL of your app (e.g., http://localhost:3000 in development, or https://yourapp.com in production)
BETTER_AUTH_URL=<baseurl> 